/* Timeless Watches -  A Template Website by http://github.com/utk09 */

/*
Colours Used -->
primary: #83F3ED
black: #011627
white: #fafaff
 */

/* Global */

body {
  font-family: "Courier Prime", monospace;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4,
h5,
h6 {
  font-weight: 700;
}

/********************* Buttons *********************/

.btn-outline-secondary {
  background-color: transparent !important;
  border-color: #011627 !important;
  color: #011627 !important;
  border-radius: 0;
}

.btn-outline-secondary {
  /* content: "";
  position: absolute;
  background-color: #83f3ed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s; */
  background: linear-gradient(to right, #83f3ed 50%, white 50%);
  background-size: 200% 100%;
  z-index: -1;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.btn-outline-secondary:hover {
  background-position: left bottom;
}

.btn-secondary {
  background: #011627 !important;
  border-radius: 0;
  border-color: #011627 !important;
}

.btn-secondary:hover {
  color: #83f3ed !important;
}

.btn-primary {
  background: #83f3ed !important;
  border-radius: 0;
  border-color: #83f3ed;
  color: #011627 !important;
}

.btn-primary:hover {
  background: #011627 !important;
  color: #83f3ed !important;
}

/********************* Navbar *********************/

.navbar {
  background: #fff;
  /* border-bottom: 1px solid #011627; */
  -webkit-box-shadow: 0 6px 6px -6px #777;
  -moz-box-shadow: 0 6px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}

.nav-link,
.navbar-brand {
  color: #011627;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #51aca7;
}

.navbar-brand {
  font-size: 1.8rem;
}

/********************* short description *********************/

.short-description {
  background: #011627;
  color: #fafaff;
}

.heading-line {
  height: 3px;
  width: 20%;
  background: #83f3ed;
}

/********************* Watches portfolio  *********************/

.dark {
  color: #83f3ed;
  background: #011627;
}

.portfolio .img-fluid {
  height: 550px;
  object-fit: cover;
}

.portfolio .col-lg-3 {
  position: relative;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.filter:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #777;
  opacity: 0.2;
}

/********************* Footer *********************/

.footer {
  background: #011627;
  color: #fafaff;
}

.footer a {
  color: #ffffff;
}

/********************* Responsive *********************/

@media (max-width: 900px) {
  .nav .nav-item {
    display: block;
    width: 100% !important;
    text-align: center;
    padding: 10px 0px;
  }

  .short-description .text-center {
    width: 100% !important;
  }

  .short-description .p-description-text {
    padding: 20px !important;
  }

  .footer .p-footer-text {
    padding: 10px !important;
    text-align: center !important;
  }

  .portfolio .img-fluid {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 375px) {
  .navbar-expand-lg {
    width: 100% !important;
  }

  .nav .nav-item {
    display: block;
    width: 100% !important;
    text-align: center;
    padding: 10px 0px;
  }

  .short-description{
    width: 100% !important;
  }

  .short-description .text-center {
    width: 100% !important;
  }

  .short-description .p-description-text {
    padding: 20px !important;
  }

  .footer .p-footer-text {
    padding: 10px !important;
    text-align: center !important;
  }

  .portfolio .img-fluid {
    padding: 0 0 20px 0;
  }
}
